<p>Cart</p>


<div class="text-light bg-dark">
  <button routerLink='/cart' class="btn">
    <span>Go to Basket Page</span>
 </button>
</div>

<br>

<div class="text-light bg-dark">
  <button class="btn">
    <span>Clear cart</span>
 </button>
</div>

<br>
<br>

<div class="row" class="text-light bg-dark">
    <div class="col-xs-12" class="list-group">
      <li *ngFor="let beverage of cart" class="list-group-item list-group-item-primary btn">
  
        <div name="name">
          Beverage: {{beverage.beverage.name}}
        </div>
        
        <div name="cost">
          Cost: R{{beverage.cost}}
        </div>
  
        <div name="size">
          Size: {{beverage.beverageSize.name}}
        </div>
  
      </li>
    </div>
</div>