<nav class="navbar  navbar-expand-lg navbar-inverse bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">Uyanda Coffee</a>

        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/menu">Menu</a>
          </li>
          <li>
            <a routerLink='/cart'>Basket</a>
          </li>
          <li>
            <a routerLink="/checkout">Checkout</a>
          </li>
        </ul>

      </div>
      </div>
</nav>